header {
  text-align: center;
}

.active {
  color: greenyellow;
  
}

.main-section {
  display: flex;
  flex-direction: row;
}

.side-bar {
  flex-basis:30%;
  border: solid 2px gray;
  text-align: center;
}

.side-bar .add-folder-button {
  margin: 20px;
}

.folder-list li {
  border: solid 2px gray;
  margin: 20px;
  text-align: center;
}

.notes {
  flex-basis: 70%;
  border: solid 2px gray;
}

.notes .add-note-button {
  margin: 20px;
}

.notes-list li {
  border: solid 2px gray;
  margin: 20px;
  padding: 20px;
}

.selected-note {
  flex-basis: 70%;
  margin: 20px;
}

.note-info {
  border: solid 2px gray;
  padding: 20px;
}

.go-back {
  margin: 20px;
}

.add-note {
  text-align: center;
  border: solid 2px gray;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}

.add-note form {
  padding: 20px;
}

ul {
  list-style: none;
}

.add-folder {
  text-align: center;
  border: solid 2px gray;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}

.add-folder form {
  padding: 20px;
}

.note-name {
  margin-right: 10px;
  margin-bottom: 20px;
}

.note-content {
  margin-left: 10px;
  margin-bottom: 20px;
}

.folder-options {
  margin: 5px;
}