header {
  text-align: center;
}

.active {
  color: greenyellow;
  
}

.main-section {
  display: flex;
  flex-direction: row;
}

.side-bar {
  flex-basis:30%;
  border: solid 2px gray;
  text-align: center;
}

.folder-list li {
  border: solid 2px gray;
  margin: 20px;
  text-align: center;
}

.notes {
  flex-basis: 70%;
  border: solid 2px gray;
}

.notes-list li {
  border: solid 2px gray;
  margin: 20px;
  padding: 20px;
}

.selected-note {
  flex-basis: 70%;
  margin: 20px;
}

.note-info {
  border: solid 2px gray;
  padding: 20px;
}

.go-back {
  margin: 20px;
}

.add-note {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 15%;
}

ul {
  list-style: none;
}
